from typing import Dict


def get_config() -> Dict[str, str]:
    return {
        "MYSQL_DB_HOST": "",
        "MYSQL_DB_PORT": "",
        "MYSQL_DB_USER": "",
        "MYSQL_DB_PWD": "",
        "MYSQL_DB_NAME": "",
        "REDIS_HOST": "",
        "REDIS_PORT": "",
        "REDIS_PWD": "",
        "DB_MIGRATION_ROOT_DIR": "",
        "SECRET_KEY": ""
    }
